{ "compact": false,
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
      },
        "only": ["*.jsx", "*.js"],
        "debug": true
      }
    ],
    "babel-preset-react"
  ],
  "only": ["*.jsx", "*.js"],
  "plugins": [
    "syntax-object-rest-spread",
    "transform-async-to-generator",
    "transform-class-properties",
    "transform-runtime",
    "syntax-dynamic-import",
    ["universal-import", {
      "babelServer": true
      }]
  ]
}
